%home {
  background-image: url(~@/images/home.png?1614825533240);
  background-repeat: no-repeat;
  background-size: 8px 8px;
}

@mixin icon-loading {
  width: 8px;
  height: 8px;
  background-position: 0 0;
}
