@import '@/scss/_mixin';

.u-toast {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 12px;
  color: #fff;
  line-height: 100%;
  padding: 12px 20px;
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(2, 2, 2, 0.1);
  z-index: 9999;
  @include borderRadius(6px);
  @include translate(-50%, -50%);
}
